<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
      // var datas = '[{"id":"admin","pw":"1234"},{"id":"admin2","pw":"78910"}]';
      var datas = '<%- datas %>'  //json 형태일 경우는 <%- %>, 텍스트는 <%= %>
      window.onload = function() {
        console.log("onload.....");
        console.log(datas);
        console.log(JSON.parse(datas));
        var dataArr = JSON.parse(datas);

        var listTable = document.getElementById('listTable');
        var str = "";
        for (var i = 0; i < dataArr.length; i++) {
          // str += "<tr><td>"+dataArr[i].id+"</td><td>"+dataArr[i].pw+"y</td></tr>";
          str += "<tr>";
          str += "<td>";
          str += "<a href='update?_id=" + dataArr[i]._id + "'>";
          str += dataArr[i]._id;
          str += "</a>"
          str += "</td>";
          str += "<td>";
          str += dataArr[i].id;
          str += "</td>";
          str += "<td>";
          str += dataArr[i].pw;
          str += "</td>";
          str += "<td>";
          str += "<a href='deleteOK?_id=" + dataArr[i]._id + "'>";
          str += "delete";
          str += "</a>"
          str += "</td>";
          str += "</tr>";
        }
        listTable.innerHTML = str;
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= datas %></p>
    <a href="users">users</a>
    <a href="/">home</a>
    <hr>
    <table border="1">
      <thead>
        <tr>
          <th>_id</th>
          <th>ID</th>
          <th>PW</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="listTable">
        <tr>
          <td>123</td>
          <td>P444</td>
        </tr>
      </tbody>

    </table>
  </body>
</html>
